<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="artifactory" value="https://artifactory.surescripts.tech/artifactory/api/nuget/nuget-virtual" />
  </packageSources>
  <packageSourceCredentials>
    <artifactory>
      <add key="Username" value="%ARTIFACTORY_USERNAME%" />
      <add key="ClearTextPassword" value="%ARTIFACTORY_IDENTITY_TOKEN%" />
    </artifactory>
  </packageSourceCredentials>
</configuration>
